<div class="container" style="border: 0px black solid; display: table">
    <div style="border: 0px black solid; width: 40%; margin: 0 auto">
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <label>Full Name<span style="color: red; font-size: 1.2em">*</span></label>
                <input [(ngModel)]="formData.name" name="name" #name="ngModel" required style="width: 100%" type="text" placeholder="name"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Relationship<span style="color: red; font-size: 1.2em">*</span></label>
                <input [(ngModel)]="formData.relationship" name="relationship" #relationship="ngModel" required style="width: 100%" type="email" placeholder="relationship"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Age<span style="color: red; font-size: 1.2em">*</span></label>
                <input [(ngModel)]="formData.age" name="age" #age="ngModel" required style="width: 100%" type="number" placeholder="age"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Communication Address<span style="color: red; font-size: 1.2em">*</span></label>
                <input [(ngModel)]="formData.address" name="address" #address="ngModel" required style="width: 100%" type="text" placeholder="communication address"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Pin Code<span style="color: red; font-size: 1.2em">*</span></label>
                <input [(ngModel)]="formData.pin" name="pin" #pin="ngModel" required style="width: 100%" type="number" placeholder="pin code"
                    class="form-control">
            </div>
            <div style="text-align: end">
                <input type="submit" style="width: 250px" class="btn btn-primary" value="Process To Next Step">
            </div>
        </form>
    </div>
</div>