
    
<div class="container" style="background-color:#ffc6b3; background-size: 100%">
    <div class="row">
        <div class="col-xs-8">
            <form [formGroup]="step2">
                
              <div class="form-group">
                    <label for="">Registration No</label>
                    <input name="nominee" formControlName="reg" type="text" class="form-control" id="reg">
                </div>
                
                <div class="form-group">
                    <label for="">Engine Number</label>
                    <input formControlName="engine" name="engine" type="text" class="form-control" id="engine">
                </div>
  
                <div class="form-group">
                    <label for="">Classic Number</label>
                    <input formControlName="classic" name="classic" type="text" class="form-control" id="classic">
                </div>
  
                <div class="form-group">
                    <label for="">Previous Insurer</label>
                    <input formControlName="insurer" name="insurer" type="text" class="form-control" id="insurer">
                </div>
  
                <div class="form-group">
                    <label for="">Previous Policy No</label>
                    <input formControlName="policy" name="policy" type="text" class="form-control" id="policy">
                </div>
                
                <div class="form-group">
                    <label>Previous Policy Expiry Date
                      <p>
                      <select>
                      <option>Months</option>
                        <option>JAN</option>
                        <option>FEB</option>
                        <option>MARCH</option>
                      </select>
                          <select>
                      <option>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <select>
                      <option>Year</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                      </select>
                      </p>
                  
                      </label>
                  
                      
                  </div>
                  <div class="form-group">
                      <label>Registration Date
                        <p>
                        <select>
                        <option>Months</option>
                          <option>JAN</option>
                          <option>FEB</option>
                          <option>MARCH</option>
                        </select>
                            <select>
                        <option>Day</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                        <select>
                        <option>Year</option>
                          <option>1995</option>
                          <option>1996</option>
                          <option>1997</option>
                        </select>
                        </p>
                    
                        </label>
                    
                        
                    </div>
                    <div class="form-group">
                        <label>Was there any claim last year? </label>
                      
                      <!-- Radio and checkboxes work much the same way -->
                      <div class="radio">
                        <label>
                          <input type="radio" name="yes" value="yes" ngModel>
                          yes
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="no" value="no" ngModel>
                          no
                        </label>
                      </div>
                      </div>
                      <div class="form-group">
                          <label>Is the name of owner on RC and insurance policy same? </label>
                        
                        <!-- Radio and checkboxes work much the same way -->
                        <div class="radio">
                          <label>
                            <input type="radio" name="yes" value="yes" ngModel>
                            yes
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="no" value="no" ngModel>
                            no
                          </label>
                        </div>
                        </div>
  
                <div class="form-group">
                    <button class="btn btn-primary btn-lg">
                        SAVE AND PROCEED
                    </button>
                </div>
  
            </form>
        </div>
    </div>
  </div>
  
  