<div class="container" style="display: table">
  <div style="width: 40%; margin: 0 auto; margin-bottom: 50px; border: 0px black solid">
    <form novalidate #feed="ngForm" (ngSubmit)="onSubmit(feed)">
      <div class="form-group">
        <label>Registration Number<span style="color: red; font-size: 1.2em">*</span></label>
        <input
        [(ngModel)]="formData.registration" 
        name="registration" 
        #registration="ngModel"
        name="nominee" 
        type="text" 
        class="form-control"
        required
        >
      </div>

      <div class="form-group">
        <label>Engine Number<span style="color: red; font-size: 1.2em">*</span></label>
        <input
        [(ngModel)]="formData.engine"
        name="engine"
        #engine="ngModel"
        name="engine" 
        type="text" 
        class="form-control"
        required
        >
      </div>

      <div class="form-group">
        <label>Classic Number<span style="color: red; font-size: 1.2em">*</span></label>
        <input 
        [(ngModel)]="formData.classic"
        name="classic"
        #classic="ngModel"
        name="classic" 
        type="text" 
        class="form-control"
        required
        >
      </div>

      <div class="form-group">
        <label>Previous Insurer<span style="color: red; font-size: 1.2em">*</span></label>
        <input 
        [(ngModel)]="formData.prevInsurer"
        name="prevInsurer"
        #prevInsurer="ngModel"
        name="insurer" 
        type="text" 
        class="form-control"
        required
        >
      </div>

      <div class="form-group">
        <label>Previous Policy Number<span style="color: red; font-size: 1.2em">*</span></label>
        <input 
        [(ngModel)]="formData.prevPolicy"
        name="prevPolicy"
        #prevPolicy="ngModel"
        name="policy" 
        type="text" 
        class="form-control"
        required
        >
      </div>

      <div class="form-group">
        <label>Previous Policy Expiry Date<span style="color: red; font-size: 1.2em">*</span>
          <div>
            <!--  -->
            <select required [(ngModel)]="formData.prevPolicyDate.month" name="prevMonth">
              <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
            </select>
            <select required [(ngModel)]="formData.prevPolicyDate.day" name="prevDay">
              <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
            </select>
            <select required [(ngModel)]="formData.prevPolicyDate.year" name="prevYear">
              <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>
          </div>
        </label>
      </div>

      <div class="form-group">
        <label>Registration Date<span style="color: red; font-size: 1.2em">*</span>
          <div>
            <select required [(ngModel)]="formData.registrationDate.month" name="registrationMonth">
              <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
            </select>
            <select required [(ngModel)]="formData.registrationDate.day" name="registrationDay">
              <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
            </select>
            <select required [(ngModel)]="formData.registrationDate.year" name="registrationYear">
              <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>
          </div>
        </label>
      </div>

      <div class="form-group">
        <label>Was there any claim last year?<span style="color: red; font-size: 1.2em">*</span></label>
        <!-- Radio and checkboxes work much the same way -->
        <div>
          <input required (change)="claimLastYear('yes')" type="radio" name="claim" value="yes"> Yes &nbsp;&nbsp;
          <input required (change)="claimLastYear('no')" type="radio" name="claim" value="no"> No
        </div>
      </div>
      <div class="form-group">
        <label>Is the name of owner on RC and insurance policy same?<span style="color: red; font-size: 1.2em">*</span></label>
        <!-- Radio and checkboxes work much the same way -->
        <div>
          <input required (change)="ownerSame('yes')" type="radio" name="owner" value="yes" ngModel> Yes &nbsp;&nbsp;
          <input required (change)="ownerSame('no')" type="radio" name="owner" value="no" ngModel> No
        </div>
      </div>
      <div style="text-align: end">
        <input class="btn btn-primary" type="submit" value="Save and Submit" style="width: 30%">
      </div>
    </form>
  </div>
</div>