<div class="container" style="margin-top: 5%">
    <div class="container1">
        <div class="box1">
            <img src="https://twowheeler.policybazaar.com/Application_Masters/IN/Images/Logo/General-Insurance/RELIANCE.gif">
        </div>
        <div class="box2">
            <div>
                <p>IDV: Rs. 12,745</p>
            </div>
            <div>
                <p>NCB: Rs. 50%</p>
            </div>
        </div>
        <div class="box3">
            <p>Single year cover only</p>
        </div>
        <div class="box4" style="border-right: none">
            <p style="color: gray; text-decoration: line-through">Rs. 1000</p>
            <button class="btn btn-success" routerLink="/form">
                <!-- To tjhe aur konsi galti lag rahi abhi? bs wahi lg ri. to theek kar.ok  -->
                Rs. 827*&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>

    <div class="container1">
        <div class="box1">
            <img src="https://twowheeler.policybazaar.com/Application_Masters/IN/Images/Logo/General-Insurance/United_India_Insurance.gif">
        </div>
        <div class="box2">
            <div>
                <p>IDV: Rs. 10,183</p>
            </div>
            <div>
                <p>NCB: Rs. 50%</p>
            </div>
        </div>
        <div class="box3">
            <p>Single year cover only</p>
        </div>
        <div class="box4" style="border-right: none">
            <p style="color: gray; text-decoration: line-through">Rs. 953</p>
            <button class="btn btn-success" routerLink="/form">
                Rs. 806*&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>


    <div class="container1">
        <div class="box1">
            <img src="https://twowheeler.policybazaar.com/Application_Masters/IN/Images/Logo/General-Insurance/HDFC_ERGO.gif">
        </div>
        <div class="box2">
            <div>
                <p>IDV: Rs. 11,183</p>
            </div>
            <div>
                <p>NCB: Rs. 50%</p>
            </div>
        </div>
        <div class="box3">
            <p>Single year cover only</p>
        </div>
        <div class="box4" style="border-right: none">
            <p style="color: gray; text-decoration: line-through">Rs. 999</p>
            <button class="btn btn-success" routerLink="/form">
                Rs. 857*&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>

    <div class="container1">
        <div class="box1">
            <img src="https://twowheeler.policybazaar.com/Application_Masters/IN/Images/Logo/General-Insurance/Magma.gif">

        </div>
        <div class="box2">
            <div>
                <p>IDV: Rs. 11,183</p>
            </div>
            <div>
                <p>NCB: Rs. 50%</p>
            </div>
        </div>
        <div class="box3">
            <p>Single year cover only</p>
        </div>
        <div class="box4" style="border-right: none">
            <p style="color: gray; text-decoration: line-through">Rs. 999</p>
            <button class="btn btn-success" routerLink="/form">
                Rs. 857*&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>